body{
    margin: 0%;
    padding: 0%;
    background: pink;
}
.container{
    white-space: nowrap;
    color: white;
    font-size: 35px;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#line{
    border: none;
    border-bottom: 1px solid white;
    width :20%;
}